<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid"style="display: flex;justify-content: center">
        <form action="/produto/alterar/<%= prod.prod_codigo%>" method="post">
            <div class="form-group row">
              
                <h2 style="border-bottom: 1px #c5c5c5 solid;">Alterar Produto</h2>
            </div>
    </div>
    <br>

    <div class="form-group row"style="display: flex;justify-content: center">

        <div class="col-md-1">
            <label for="produto">Codigo</label>
            <input type="text" maxlength="20" value="<%= prod.prod_codigo%>" name="prod_codigo" class="form-control" id="cod"
                readonly>
        </div>
        <div class="col-md-3">
            <label for="nome">Nome</label>
            <input type="text" maxlength="200" value="<%= prod.prod_nome%>" class="form-control" id="nome" minlength="2"
                name="prod_nome" placeholder="Nome">
        </div>
        <div class="col-md-4">
            <label for="descricao">Descrição</label>
            <input type="text" maxlength="20" value="<%= prod.prod_descricao%>" class="form-control" id="descricao"
                name="prod_descricao" placeholder="Descrição">
        </div>
        <div class="col-md-2">
            <label for="tipo">Tipo Item</label>
            <select class="form-control custom-select" name="prod_tipo" id="tipo" placeholder="Tipo" value="<%= prod.prod_tipo%>">
                <option>  Produto</option>
                <option>  Materia</option>
                <option>  Kit </option>
            </select>
        </div>


    </div>
    <div class="form-group row"style="display: flex;justify-content: center">
        <div class="col-md-2">
            <label for="ncm">NCM</label>
            <select class="form-control custom-select" name="prod_ncm" id="ncm" placeholder="ncm" value="<%= prod.prod_ncm%>">
                <% include ../partials/ncm%>
            </select>
        </div>

        <div class="col-md-2">
            <label for="custo">Custo</label>
            <input type="numeric" value="<%= prod.prod_custo%>" class="form-control" id="prod_custo" name="prod_custo"
                placeholder="Custo">
        </div>
        <div class="col-md-2">
            <label for="venda">Venda</label>
            <input type="numeric" value="<%= prod.prod_venda%>" class="form-control" id="prod_venda" name="prod_venda"
                placeholder="Venda">
        </div>
        <div class="col-md-3">
            <label for="tipo2">Tipo</label>
            <select class="form-control custom-select" name="prod_tipo2" id="tipo2" placeholder="Tipo2" value="<%= prod.prod_tipo2%>">
                <option> Serviços </option>
                <option> Produto Acabado</option>
                <option> Mercadoria para Revenda</option>
                <option> Material de uso e consumo</option>
            </select>
        </div>

    </div>
    <div class="form-group row"style="display: flex;justify-content: center">
        <div class="col-md-2">
            <label for="unidade">Unidade</label>
            <select class="form-control custom-select" name="prod_unidade" id="unidade" placeholder="Unidade" value="<%= prod.prod_unidade%>">
                <option>  Unidade </option>
                <option>  Fardo</option>
                <option>  Caixa</option>
                <option>  Kit</option>
                <option>  Par</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="marca_codigo">Marca</label>
            <select class="form-control custom-select" name="marca_codigo" id="marca_codigo">
                <% for (marca of marca){%>
                <option value="<%= marca.marca_codigo%>">
                    <%= marca.marca_nome%>
                </option>
                <%}%>
            </select>
        </div>
        <div class="col-md-2">
            <label for="produto">Ativo ? </label>
            <select class="form-control custom-select" name="prod_ativoinativo" id="ativoinativo" value="<%= prod.prod_ativoinativo%>">
                <option>Sim</option>
                <option>Não</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="produto">Movimenta estoque? </label>
            <select class="form-control custom-select" name="prod_movestoque" id="movestoque" value="<%= prod.prod_movestoque%>">
                <option>Sim</option>
                <option>Não</option>
            </select>
        </div>
    </div>
    <div class="form-group row"style="display: flex;justify-content: center">
        <div class="col-md-12">
        </div>
    </div>
    <div class="form-group row"style="display: flex;justify-content: center">
        <div class="col-md-12">
        </div>
    </div>
    <div class="form-group row"style="display: flex;justify-content: center">
       
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-block" style="width: 100px" padding-right=3 0px>Salvar</button>
        </div>

        <div class="col-md-1">
            <a class="btn btn-secondary btn-block" href="/produto" style="width: 100px">Voltar</a>
        </div>
    </div>

    <script src="/js/bootstrap/bootstrap.js"></script>
</body>

</html>