<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid">
        <form action="/usuario/alterar/<%= user.user_codigo%>" method="post">
            <div class="form-group row" style="display: flex;justify-content: center">
                <h2 style="border-bottom: 1px #c5c5c5 solid;">Alterar Usuário</h2>
            </div>
            <div class="form-group row" style="display: flex;justify-content: center">
                <div class="col-md-1">
                    <label for="usuario">Codigo</label>
                    <input type="text" maxlength="30" value="<%= user.user_codigo%>" name="user_codigo" class="form-control"
                        id="codigo" readonly>
                </div>
                <div class="col-md-2">
                    <label for="usuario">Nome</label>
                    <input type="text" maxlength="20" value="<%= user.user_nome%>" name="user_nome" class="form-control"
                        id="nome" placeholder=" Digite seu nome">

                </div>
                <div class="col-md-2">
                    <label for="usuario">Usuário</label>
                    <input type="text" maxlength="50" value="<%= user.user_usuario%>" name="user_usuario" class="form-control"
                        id="usuario" placeholder="Digite seu Usuário">

                </div>
            </div>
            <div class="form-group row" style="display: flex;justify-content: center">
                <div class="col-md-2">
                    <label for="usuario">Senha</label>
                    <input type="password" maxlength="50" class="form-control" id="senha" placeholder="Informe sua senha">

                </div>
                <div class="col-md-2">
                    <label for="usuario">Confirme sua senha</label>
                    <input type="password" maxlength="50" value="<%= user.user_senha%>" name="user_senha" class="form-control"
                        id="senhabanco" placeholder="Confirme sua senha">
                </div>
                <div class="col-md-2">
                    <label for="usuario">E-mail</label>
                    <input type="text" maxlength="50" value="<%=user.user_email%>" name="user_email" class="form-control"
                        id="email" placeholder="Seu endereço de E-mail">

                </div>

            </div>
    </div>
    <br>

    <div class="form-group row">
        <div class="col-md-5">

        </div>

        <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-block" style="width: 100px" padding-right=3 0px>Salvar</button>
        </div>
        <div>
            <div class="col-md-1">
                <a class="btn btn-secondary btn-block" href="/usuario" style="width: 100px">Voltar</a>
            </div>
        </div>
        </form>
    </div>
    <script src="/js/bootstrap/bootstrap.js"></script>
</body>

</html>