<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Sales Mobile 1.0</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid">
        <form action="/grade/alterar/<%= grade.grade_codigo%>" method="post">
            <div class="form-group row">
                <div class="col-md-5">
                </div>
                <h2 style="border-bottom: 1px #c5c5c5 solid;">Editar Grade</h2>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                    <label for="grade">Codigo</label>
                    <input type="number" maxlength="20" value="<%= grade.grade_codigo%>" name="grade_codigo" class="form-control"
                        id="cod" readonly>
                </div>
                <div class="col-md-2">
                    <label for="grade">Descrição</label>
                    <input type="text" maxlength="100" value="<%= grade.grade_descricao%>" name="grade_descricao" class="form-control"
                        id="decricao" placeholder="Descrição da Grade">
                </div>
                <div class="col-md-4">
                    <label for="grade">Numeração</label>
                    <input type="text" maxlength="200" value="<%= grade.grade_numeracao%>" name="grade_numeracao" class="form-control"
                        id="numeracao" placeholder="exemplo 30-31-32">
                </div>
                <div class="col-md-2">
                    <label for="grade">Ativo? </label>
                    <select class="form-control custom-select" name="grade_ativoinativo" id="ativoinativo" value="<%=grade.grade_ativoinativo%>">
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
            </div>
    </div>
    <br>

    <div class="form-group row">
        <div class="col-md-4">

        </div>

        <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-block" style="width: 100px" padding-right=3 0px>Salvar</button>
        </div>
        <div>
            <div class="col-md-1">
                <a class="btn btn-secondary btn-block" href="/grade" style="width: 100px">Voltar</a>
            </div>
        </div>
        </form>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>

</html>