<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Sales Mobile 1.0</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container-fluid formulario">
        <div class="form-group row">
            <div class="col-md-5">
            </div>
            <h2 style="border-bottom: 1px #c5c5c5 solid;">Movimento de Saida</h2>
        </div>
    </div>
    <style>
        table#saidatabela thead {
            position: fixed;

        }
    </style>
    <div style="overflow: auto " class="container-fluid">
        <table class="table table-striped table-dark table-sm" style="font-size: 12px">
            <thead>
                <tr>
                    <th>Cod Mov</th>
                    <th>Data</th>                    
                    <th>Motivo</th>
                </tr>
            </thead>

        </table>
    </div>
    <div style="overflow: auto; width: 1340px; height: 460px; border:solid 1px" class="container-fluid">
        <table class="table table-striped table-bordered" id="saidatabela">

            <tbody>
                <% for (movent of movestoque){%>
                <tr>
                    <td>
                        <%= movent.movest_codigo%>
                    </td>
                    <td>
                        <%= movent.movest_dataent%>
                    </td>
                    <td>
                        <%= movent.movest_motivo%>
                    </td>

                    <td><a class="btn btn-warning" href=<%="/estoqueSaida/" + movent.movest_codigo%>>Alterar</a>
                    </td>
                    <td><a class="btn btn-danger" href=<%="/estoqueSaida/excluir/" + movent.movest_codigo%>>Deletar</a>
                    </td>

                </tr>
                <%}%>
            </tbody>
        </table>
    </div>

    <script src="/js/bootstrap.js"></script>
</body>

</html>