<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Sales Mobile 1.0</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<style>
    body {
            background-color:#ECF8E0;
        }
    </style>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid formulario">
        <div class="form-group row">
            <div class="col-md-5">
            </div>
            <h2 style="border-bottom: 1px #c5c5c5 solid;">Pedido de Venda</h2>
        </div>
        <form action="/pedidoGlobal/novo" method="post">
            <div class="form-group row">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <label for="pedGlobal_data">Data Pedido</label>
                    <input type="date" class="form-control" id="pedGlobal_data" name="pedGlobal_data">
                </div>
                <div class="col-md-4">
                    <label for="pessoa_codigo">Cliente</label>
                    <select class="form-control custom-select" name="pessoa_codigo" id="pessoa_codigo">
                        <% for (clientepj of clientepj){%>
                        <option value="<%= clientepj.pessoa_codigo%>">
                            <%= clientepj.pessoa_nome_raz%>
                        </option>
                        <%}%>
                    </select>
                </div>
                <div class="col-md-1">
                    <label for="condpag">Cond Pag</label>
                    <select class="form-control custom-select" name="condpag_codigo" id="condpag_codigo">
                        <% for (prod of produto){%>
                        <option value="<%= condpag.condpag_codigo%>">
                            <%= condpag.condpag_descricao%>
                        </option>
                        <%}%>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <label for="prod_codigo">Produto</label>
                    <select class="form-control custom-select" name="prod_codigo" id="prod_codigo">
                        <% for (prod of produto){%>
                        <option value="<%= prod.prod_codigo%>">
                            <%= prod.prod_nome%>
                        </option>
                        <%}%>
                    </select>
                </div>



                <div class="col-md-1">
                    <label for="qtdePedGlobal">Estoque</label>
                    <input type="number" class="form-control" id="qtdePedGlobal" name="qtdePedGlobal" placeholder="000">
                </div>
                <div class="col-md-1">
                    <label for="vendaPedGlobal">Qtde Venda</label>
                    <input type="number" class="form-control" id="vendaPedGlobal" name="vendaPedGlobal" placeholder="000">
                </div>
                <div class="col-md-1">
                    <label for="unitarioPedGlobal">R$ Unitário</label>
                    <input type="money" class="form-control" id="vendaPedGlobal" name="vendaPedGlobal" placeholder="R$0.00">
                </div>

                <div class="col-md-1">
                    <label for="prod_codigo">.</label>
                    <button type="button" class="btn btn-primary btn-block" onclick="incluirItemEstoque()">Incluir</button>
                </div>

                <div class="col-md-1">
                    <label color="blue">.</label>
                    <a class="btn btn-success btn-block" href="/novoPedidoGlobal">Salvar</a>
                </div>

                <div class="col-md-9">
                </div>

            </div>
        </form>

        <div class="container-fluid formulario">
            <div class="form-group row">
                <div class="col-md-5">
                </div>

            </div>
        </div>

        <div style="overflow: auto " class="container-fluid">
            <table class="table table-striped table-ligth table-bordered">
                <thead>
                    <tr>
                        <th>Pedido</th>
                        <th>Cliente</th>
                        <th>CondPag</th>
                        <th>Produto</th>
                        <th>Qtde Venda</th>
                        <th>R$ Unitário</th>
                        <th>R$ SubTotal</th>
                    </tr>
                </thead>
                <tbody id="tbody-movEstoque">
                </tbody>
                </thead>
            </table>
        </div>

        <script src="/js/bootstrap.js"></script>
        <script src="/js/novoPedidoGlobal.js"></script>
</body>

</html>