<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Sales Mobile 1.0</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<style>
    body {
            background-color: #E0F2F7;
        }
</style>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container-fluid formulario">
        <div class="form-group row">
            <div class="col-md-5">
            </div>
            <h2 style="border-bottom: 1px #c5c5c5 solid;">Pedido Laticínios</h2>
        </div>
        <form action="/pedidoLaticinio/novo" method="post">
            <div class="form-group row">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <label for="pedLaticinio_data">Data Pedido</label>
                    <input type="date" class="form-control" id="pedLaticinio_data" name="pedLaticinio_data">
                </div>
                <div class="col-md-4">
                    <label for="pessoa_codigo">Cliente</label>
                    <select class="form-control custom-select" name="pessoa_codigo" id="pessoa_codigo">
                        <% for (clientepj of clientepj){%>
                        <option value="<%= clientepj.pessoa_codigo%>">
                            <%= clientepj.pessoa_nome_raz%>
                        </option>
                        <%}%>
                    </select>
                </div>
                <div class="col-md-1">
                    <label for="condpag">Cond Pag</label>
                    <select class="form-control custom-select" name="condpag_codigo" id="condpag_codigo">
                        <% for (prod of produto){%>
                        <option value="<%= condpag.condpag_codigo%>">
                            <%= condpag.condpag_descricao%>
                        </option>
                        <%}%>
                    </select>
                </div>
                <div class="col-md-1">
                    <label for="condpag">.</label>
                    <a class="btn btn-success btn-block" href="/novoPedidoLaticinio">Salvar</a>
                </div>
                <div class="col-md-1">
                    <label color="blue">.</label>
                    <a class="btn btn-warning btn-block" onclick="window.print()">Imprimir</a>
                </div>
            </div>
            <div>
                <div style="overflow: auto ; width: 900px;" class="container-fluid">
                    <table class="table table-striped table-light table-sm" style="font-size: 15px">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Estoque</th>
                                <th></th>
                                <th>Qtde Venda</th>
                                <th>R$ Unitário</th>
                                <th>Sub Total</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="overflow: auto; width: 900px; height: 460px; border: 1px" class="container-fluid">
                    <table class="table table-striped table-bordered" id="pedlattabela">

                        <tbody>
                            <% produto.forEach((produtos) => { %>
                            <form method="post">
                                <tr>

                                    <td>
                                        <select class="col-md-20" name="prod_codigo" id="prod_codigo">
                                            <option value="<%= produtos.prod_codigo%>" selected>
                                                <%= produtos.prod_nome%>
                                            </option>
                                            <% for (prod of produto){%>
                                            <option value="<%= prod.prod_codigo%>">
                                                <%= prod.prod_nome%>
                                            </option>
                                            <%}%>

                                        </select>
                                    </td>
                                    <td> <input type="numeric" class="col-md-7" id="estoquePedLaticinios" name="estoquePedLaticinios"
                                            placeholder="0000"></td>
                                    <td> <input type="numeric" class="col-md-7" id="vendaPedLaticinios" name="vendaPedLaticinios"
                                            placeholder="0000"></td>
                                    <td> <input type="money" class="col-md-9" id="uniPedLaticinios" name="uniPedLaticinios"
                                            placeholder="R$0.00"></td>
                                    <td> <input type="numeric" class="col-md-9" id="titemPedLaticinios" name="titemPedLaticinios"
                                            placeholder="R$0.00"></td>
                                </tr>
                            </form>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>

        <div class="container-fluid formulario">
            <div class="form-group row">
                <div class="col-md-5">
                </div>

            </div>
        </div>

        <script src="/js/bootstrap.js"></script>
        <script src="/js/novoPedidoLaticinio.js"></script>
</body>

</html>